.body{
    --bs-body-bg: #F1F1F1  
}
.p_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #505050;
}
.plain_text{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}
.header_text{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
}
.post p{
    font-size: 16px;
    line-height: 19px;
}
.timer p{
    font-size: 16px;
    line-height: 19px;
}
.header_row{
    z-index: 2;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    margin-bottom: 2px;
}
.nav_row{
    z-index: 1;
    min-height: 40px;
    background: #FAFAFA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.active{
    background: #F1F1F1;
}
.svg_img{
    margin-right: 12px;
}
.detail_post p{
    margin-bottom: 0;
}

.main_box{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    margin-bottom: 16px;
}
.post{
    min-height: 56px;
}
.detail_post svg{
    margin-right: 13px;
}
.detail_post a{
    color: #5095EC;
}
.quote{
    border-color: #D3D8DE;
}
.detail_post img{
    max-height: 400px;
}
.profile_header_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #505050;
    margin-bottom: 0;
}
.avatar_img{
    width: 132px;
    height: 132px;
}
.warn{
    background-color: #E33939;
    color:#FFFFFF;
    padding-right: 6px;
    padding-left: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.text-muted{
    color: #8F8F8F;
}

.a {
  text-decoration: none;
  color: #505050;
}